html, body {
    height: 100%;
}

.navbar {
    background-color: #0E2F56;
}

.navlogo {
    width: 112px;
    height: 28px;
    object-fit: cover;
    transform: scale(1.7);
}

.navbar-burger {
    color: #FFF !important;
}

.navbar-burger:hover {
    color: #FF304F !important;
}