<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ooohh.wtf</title>
</head>

<body>
    <h1>{{ .Name }}</h1>
    <a href="/new">New Board</a>
    <hr>
    <h3>Add Dial</h3>
    <form method="POST">
        <label>Dial ID:</label><br />
        <input type="text" name="dialID"><br />
        <label>Board Token:</label><br />
        <input type="password" name="token"><br />
        <input type="submit" value="Add">
    </form>
    <hr>
    <h3>Dials</h3>
    <ul>
        {{ range .Dials }}
        <li>{{ .Name }} - {{ printf "%.1f" .Value }}</li>
        {{ end }}
    </ul>

</body>

</html>